*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    height: 100vh;
    width: 100%;
    background-color: rgb(210, 210, 210);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    text-align: center;
}

#header{
    padding: 50px;
    width: 100%;
    height: 200px;
    flex-shrink: 0;
    background-color: rgb(10, 10, 48);
}

#aboutMe{
    width: 80%;
    height: auto;
    flex-shrink: 0;
    background-color: rgb(219, 219, 219);
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    padding: 40px 30px;
}

#education{
    width: 80%;
    height: auto;
    flex-shrink: 0;
    background-color: rgb(204, 214, 220);
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#skills{
    width: 80%;
    height: auto;
    flex-shrink: 0;
    background-color: rgb(233, 216, 204);
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

#projects{
    width: 80%;
    height: auto;
    flex-shrink: 0;
    background-color: rgb(255, 212, 245);
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#contactMe{
    width: 80%;
    height: auto;
    flex-shrink: 0;
    background-color: rgb(198, 208, 255);
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.ctittle{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 30px;
    font-size: normal;
}

.inrtxt{
    background-color: white;
    width: 60%;
    align-items: center;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}


div{
    border-radius: 5px;
}

#header{
    border-radius: 0px;
}

#main{
    border-radius: 0px;
}